Messages/multicacheschemas/COCT_MT530004UV.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v3"
           xmlns:ex="urn:hl7-org/v3-example"
           targetNamespace="urn:hl7-org:v3"
           elementFormDefault="qualified"><!--
*****************************************************************************************************************
* XML schema for message type COCT_MT530004UV.
* Source information:
*     Rendered by: Visio to MIF transform
*     Rendered on: 
* Saved in XML file by RMIM Designer in Visio at 2011-03-26T14:38:04
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
 Fix Names Transform: $Id: FixMifNames.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
  Base transform: $Id: ConvertBase.xsl 8360 2009-10-26 06:00:22Z woody_beeler $
  Package Id Conversion: $Id: TransformPackageIds.xsl 8398 2010-10-12 01:52:15Z lloyd_mckenzie $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 7375 2009-01-26 19:26:53Z wbeeler $
*
* Generated by XMLITS version 3.4.4
*   MIF to XSD Transform $Id: StaticMifToXsd.xsl 8419 2010-11-15 00:10:54Z woody_beeler $
*     Package Id Conversion: $Id: TransformPackageIds.xsl 8398 2010-10-12 01:52:15Z lloyd_mckenzie $
*
* Copyright (c) 2002, 2003, 2004, 2005, 2006, 2007 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  --><xs:annotation>
      <xs:documentation>Generated using schema builder version 3.4.4. Stylesheets:
Saved in XML file by RMIM Designer in Visio at 2011-03-26T14:38:04
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
 Fix Names Transform: $Id: FixMifNames.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
  Base transform: $Id: ConvertBase.xsl 8360 2009-10-26 06:00:22Z woody_beeler $
  Package Id Conversion: $Id: TransformPackageIds.xsl 8398 2010-10-12 01:52:15Z lloyd_mckenzie $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 7375 2009-01-26 19:26:53Z wbeeler $
StaticMifToXsd.xsl version 2.0</xs:documentation>
   </xs:annotation>
   <xs:include schemaLocation="../coreschemas/infrastructureRoot-r2.xsd"/>
   <xs:include schemaLocation="COCT_MT080200UV.xsd"/>
   <xs:include schemaLocation="COCT_MT050207UV07.xsd"/>
   <xs:include schemaLocation="COCT_MT090000UV01.xsd"/>
   <xs:complexType name="COCT_MT530004UV.Act">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="DSET_II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="confidentialityCode" type="DSET_CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="uncertaintyCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="subject" type="COCT_MT530004UV.Subject" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="performer" type="COCT_MT530004UV.Performer" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="author" type="COCT_MT530004UV.Author" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="location" type="COCT_MT530004UV.Location" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="conditions" type="COCT_MT530004UV.Conditions" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="outboundRelationship1" type="COCT_MT530004UV.SourceOf1" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="outboundRelationship2" type="COCT_MT530004UV.SourceOf3" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="inboundRelationship" type="COCT_MT530004UV.SourceOf2" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="Code" use="required"/>
      <xs:attribute name="moodCode" type="x_ClinicalStatementActMood" use="required"/>
      <xs:attribute name="negationInd" type="xs:boolean" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT530004UV.ActReference">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="Code" use="required"/>
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT530004UV.AdministerableMaterial">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="administrableMaterialKind" type="COCT_MT530004UV.MaterialKind"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassAdministerableMaterial" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT530004UV.Author">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="noteText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="time" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="modeCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="signatureCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="signatureText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="patient" type="COCT_MT050207UV07.Patient" nillable="true" minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="assignedEntity" type="COCT_MT090000UV01.AssignedEntity" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationAuthorOriginator" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT530004UV.Conditions">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="conjunctionCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="seperatableInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="criterion" type="COCT_MT530004UV.Criterion" nillable="true" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipConditional" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="ON"/>
      <xs:attribute name="contextConductionInd" type="xs:boolean" use="optional" default="false"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT530004UV.Consumable">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="administerableMaterial" type="COCT_MT530004UV.AdministerableMaterial"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationConsumable" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT530004UV.Criterion">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="value" type="ANY" minOccurs="1" maxOccurs="1"/>
         <xs:element name="interpretationCode" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="precondition" type="COCT_MT530004UV.Precondition2" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassObservation" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodEventCriterion" use="required"/>
      <xs:attribute name="negationInd" type="xs:boolean" use="optional" default="false"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT530004UV.Device">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="manufacturedProduct" type="COCT_MT530004UV.ManufacturedProduct"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationTargetDevice" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT530004UV.Encounter">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="DSET_II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="QSET_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="availabilityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="confidentialityCode" type="DSET_CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="admissionReferralSourceCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="lengthOfStayQuantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="dischargeDispositionCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="subject" type="COCT_MT530004UV.Subject" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="performer" type="COCT_MT530004UV.Performer" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="author" type="COCT_MT530004UV.Author" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="location" type="COCT_MT530004UV.Location" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="conditions" type="COCT_MT530004UV.Conditions" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="outboundRelationship1" type="COCT_MT530004UV.SourceOf1" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="outboundRelationship2" type="COCT_MT530004UV.SourceOf3" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="inboundRelationship" type="COCT_MT530004UV.SourceOf2" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassEncounter" use="required"/>
      <xs:attribute name="moodCode" type="x_ClinicalStatementEncounterMood" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT530004UV.HealthCareFacility">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="location" type="COCT_MT530004UV.Place" nillable="true" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="serviceProviderOrganization" type="COCT_MT530004UV.Organization"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassServiceDeliveryLocation" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT530004UV.LabeledDrug">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="name" type="EN" minOccurs="0" maxOccurs="1"/>
         <xs:element name="expirationTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="EntityClassManufacturedMaterial" use="required"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT530004UV.Location">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="healthCareFacility" type="COCT_MT530004UV.HealthCareFacility"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationTargetLocation" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT530004UV.ManufacturedProduct">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="manufacturedLabeledDrug" type="COCT_MT530004UV.LabeledDrug"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="manufacturedMaterial" type="COCT_MT530004UV.Material" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
         <xs:element name="manufacturerOrganization" type="COCT_MT530004UV.Organization"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassManufacturedProduct" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT530004UV.Material">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="name" type="EN" minOccurs="0" maxOccurs="1"/>
         <xs:element name="lotNumberText" type="ST" minOccurs="0" maxOccurs="1"/>
         <xs:element name="expirationTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="EntityClassManufacturedMaterial" use="required"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT530004UV.MaterialKind">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="desc" type="ST" minOccurs="0" maxOccurs="1"/>
         <xs:element name="materialPart" type="COCT_MT530004UV.MaterialPart" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClassMaterial" use="required"/>
      <xs:attribute name="determinerCode" type="EntityDeterminerDetermined" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT530004UV.MaterialKind2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="desc" type="ST" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClassMaterial" use="required"/>
      <xs:attribute name="determinerCode" type="EntityDeterminerDetermined" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT530004UV.MaterialPart">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="partMaterialKind" type="COCT_MT530004UV.MaterialKind2" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassPartitive" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT530004UV.Observation">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="DSET_II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="derivationExpr" type="ST" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="QSET_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="confidentialityCode" type="DSET_CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="repeatNumber" type="IVL_INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="uncertaintyCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="value" type="ANY" minOccurs="0" maxOccurs="1"/>
         <xs:element name="interpretationCode" type="DSET_CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="methodCode" type="DSET_CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="targetSiteCode" type="DSET_CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="subject" type="COCT_MT530004UV.Subject" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="performer" type="COCT_MT530004UV.Performer" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="author" type="COCT_MT530004UV.Author" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="location" type="COCT_MT530004UV.Location" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="conditions" type="COCT_MT530004UV.Conditions" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="referenceRange" type="COCT_MT530004UV.ReferenceRange" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="outboundRelationship1" type="COCT_MT530004UV.SourceOf1" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="outboundRelationship2" type="COCT_MT530004UV.SourceOf3" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="inboundRelationship" type="COCT_MT530004UV.SourceOf2" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassObservation" use="required"/>
      <xs:attribute name="moodCode" type="x_ClinicalStatementObservationMood" use="required"/>
      <xs:attribute name="negationInd" type="xs:boolean" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT530004UV.ObservationRange">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="value" type="ANY" minOccurs="1" maxOccurs="1"/>
         <xs:element name="interpretationCode" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="precondition" type="COCT_MT530004UV.Precondition1" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassObservation" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodEventCriterion" use="required"/>
      <xs:attribute name="negationInd" type="xs:boolean" use="optional" default="false"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT530004UV.Organization">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="name" type="EN" minOccurs="0" maxOccurs="1"/>
         <xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="addr" type="AD" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="EntityClassOrganization" use="required"/>
      <xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT530004UV.Organizer">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="DSET_II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityCode" type="DSET_CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="confidentialityCode" type="DSET_CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="subject" type="COCT_MT530004UV.Subject" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="performer" type="COCT_MT530004UV.Performer" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="author" type="COCT_MT530004UV.Author" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="location" type="COCT_MT530004UV.Location" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="conditions" type="COCT_MT530004UV.Conditions" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="outboundRelationship1" type="COCT_MT530004UV.SourceOf1" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="outboundRelationship2" type="COCT_MT530004UV.SourceOf3" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="inboundRelationship" type="COCT_MT530004UV.SourceOf2" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassContainer" use="required"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT530004UV.Performer">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="functionCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="time" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="modeCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="patient" type="COCT_MT050207UV07.Patient" nillable="true" minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="assignedEntity" type="COCT_MT090000UV01.AssignedEntity" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationPhysicalPerformer" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT530004UV.Place">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="name" type="EN" minOccurs="0" maxOccurs="1"/>
         <xs:element name="addr" type="AD" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="EntityClassPlace" use="required"/>
      <xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT530004UV.Precondition1">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="conjunctionCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="seperatableInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="criterion" type="COCT_MT530004UV.Criterion" nillable="true" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasPre-condition" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
      <xs:attribute name="contextConductionInd" type="xs:boolean" use="optional" default="true"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT530004UV.Precondition2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="conjunctionCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="seperatableInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="criterion" type="COCT_MT530004UV.Criterion" nillable="true" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasPre-condition" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="ON"/>
      <xs:attribute name="contextConductionInd" type="xs:boolean" use="optional" default="false"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT530004UV.Procedure">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="DSET_II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="QSET_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="availabilityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="confidentialityCode" type="DSET_CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="uncertaintyCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="methodCode" type="DSET_CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="approachSiteCode" type="DSET_CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="targetSiteCode" type="DSET_CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="subject" type="COCT_MT530004UV.Subject" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="device" type="COCT_MT530004UV.Device" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="product" type="COCT_MT530004UV.Product2" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="performer" type="COCT_MT530004UV.Performer" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="author" type="COCT_MT530004UV.Author" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="location" type="COCT_MT530004UV.Location" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="conditions" type="COCT_MT530004UV.Conditions" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="outboundRelationship1" type="COCT_MT530004UV.SourceOf1" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="outboundRelationship2" type="COCT_MT530004UV.SourceOf3" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="inboundRelationship" type="COCT_MT530004UV.SourceOf2" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassProcedure" use="required"/>
      <xs:attribute name="moodCode" type="x_ClinicalStatementProcedureMood" use="required"/>
      <xs:attribute name="negationInd" type="xs:boolean" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT530004UV.Product1">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="manufacturedProduct" type="COCT_MT530004UV.ManufacturedProduct"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationProduct" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT530004UV.Product2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="specimen" type="COCT_MT080200UV.Specimen" nillable="true" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationProduct" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT530004UV.ReferenceRange">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="seperatableInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="observationRange" type="COCT_MT530004UV.ObservationRange" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasReferenceValues" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="ON"/>
      <xs:attribute name="contextConductionInd" type="xs:boolean" use="optional" default="false"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT530004UV.SourceOf1">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityNumber" type="REAL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="pauseQuantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="conjunctionCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="seperatableInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="actReference" type="COCT_MT530004UV.ActReference" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      <xs:attribute name="inversionInd" type="xs:boolean" use="optional"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="AN"/>
      <xs:attribute name="contextConductionInd" type="xs:boolean" use="optional" default="false"/>
      <xs:attribute name="negationInd" type="xs:boolean" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT530004UV.SourceOf2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityNumber" type="REAL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="pauseQuantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="conjunctionCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="seperatableInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="observation" type="COCT_MT530004UV.Observation" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="substanceAdministration" type="COCT_MT530004UV.SubstanceAdministration"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="supply" type="COCT_MT530004UV.Supply" nillable="true" minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="procedure" type="COCT_MT530004UV.Procedure" nillable="true" minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="encounter" type="COCT_MT530004UV.Encounter" nillable="true" minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="act" type="COCT_MT530004UV.Act" nillable="true" minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="organizer" type="COCT_MT530004UV.Organizer" nillable="true" minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="AN"/>
      <xs:attribute name="contextConductionInd" type="xs:boolean" use="optional" default="true"/>
      <xs:attribute name="negationInd" type="xs:boolean" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT530004UV.SourceOf3">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityNumber" type="REAL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="pauseQuantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="conjunctionCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="seperatableInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="observation" type="COCT_MT530004UV.Observation" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="substanceAdministration" type="COCT_MT530004UV.SubstanceAdministration"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="supply" type="COCT_MT530004UV.Supply" nillable="true" minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="procedure" type="COCT_MT530004UV.Procedure" nillable="true" minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="encounter" type="COCT_MT530004UV.Encounter" nillable="true" minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="act" type="COCT_MT530004UV.Act" nillable="true" minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="organizer" type="COCT_MT530004UV.Organizer" nillable="true" minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="AN"/>
      <xs:attribute name="contextConductionInd" type="xs:boolean" use="optional" default="true"/>
      <xs:attribute name="negationInd" type="xs:boolean" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT530004UV.Subject">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="awarenessCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="specimen" type="COCT_MT080200UV.Specimen" nillable="true" minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="patient" type="COCT_MT050207UV07.Patient" nillable="true" minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT530004UV.SubstanceAdministration">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="DSET_II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="QSET_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="confidentialityCode" type="DSET_CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="repeatNumber" type="IVL_INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="approachSiteCode" type="DSET_CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="routeCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="doseQuantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="rateQuantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="doseCheckQuantity" type="DSET_RTO" minOccurs="0" maxOccurs="1"/>
         <xs:element name="maxDoseQuantity" type="RTO" minOccurs="0" maxOccurs="1"/>
         <xs:element name="administrationUnitCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="subject" type="COCT_MT530004UV.Subject" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="consumable" type="COCT_MT530004UV.Consumable" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="performer" type="COCT_MT530004UV.Performer" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="author" type="COCT_MT530004UV.Author" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="location" type="COCT_MT530004UV.Location" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="conditions" type="COCT_MT530004UV.Conditions" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="outboundRelationship1" type="COCT_MT530004UV.SourceOf1" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="outboundRelationship2" type="COCT_MT530004UV.SourceOf3" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="inboundRelationship" type="COCT_MT530004UV.SourceOf2" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassSubstanceAdministration" use="required"/>
      <xs:attribute name="moodCode" type="x_ClinicalStatementSubstanceMood" use="required"/>
      <xs:attribute name="negationInd" type="xs:boolean" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT530004UV.Supply">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="DSET_II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="QSET_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityCode" type="DSET_CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="confidentialityCode" type="DSET_CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="repeatNumber" type="IVL_INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="independentInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="quantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="expectedUseTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="subject" type="COCT_MT530004UV.Subject" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="product" type="COCT_MT530004UV.Product1" minOccurs="1"
                     maxOccurs="unbounded"/>
         <xs:element name="performer" type="COCT_MT530004UV.Performer" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="author" type="COCT_MT530004UV.Author" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="location" type="COCT_MT530004UV.Location" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="conditions" type="COCT_MT530004UV.Conditions" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="outboundRelationship1" type="COCT_MT530004UV.SourceOf1" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="outboundRelationship2" type="COCT_MT530004UV.SourceOf3" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="inboundRelationship" type="COCT_MT530004UV.SourceOf2" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassSupply" use="required"/>
      <xs:attribute name="moodCode" type="x_ClinicalStatementSupplyMood" use="required"/>
   </xs:complexType>
</xs:schema>