Messages/multicacheschemas/COCT_MT040203UV09.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:ex="urn:hl7-org/v3-example"
           targetNamespace="urn:hl7-org:v3"
           elementFormDefault="qualified"><!--
*****************************************************************************************************************
* XML schema for message type COCT_MT040203UV09.
* Source information:
*     Rendered by: Visio to MIF transform
*     Rendered on: 
* Saved in XML file by RMIM Designer in Visio at 2012-07-01T08:47:28
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 8529 2011-02-09 20:49:58Z lloyd_mckenzie $
 Fix Names Transform: $Id: FixMifNames.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
  Base transform: $Id: ConvertBase.xsl 8870 2011-09-14 18:32:56Z woody_beeler $
  Package Id Conversion: $Id: TransformPackageIds.xsl 8398 2010-10-12 01:52:15Z lloyd_mckenzie $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 7375 2009-01-26 19:26:53Z wbeeler $
*
* Generated by XMLITS version 3.4.9
*   MIF to XSD Transform $Id: StaticMifToXsd.xsl 8890 2012-11-27 02:38:05Z woody_beeler $
*     Package Id Conversion: $Id: TransformPackageIds.xsl 8398 2010-10-12 01:52:15Z lloyd_mckenzie $
/****************************************************************************************
  * Copyright (c) 2013 Health Level Seven International
  * All rights reserved. All contributors are assumed to participate freely in
  * IP sharing without restriction.  All licensing conforms to the Open Health
  * Tools IP Policy. http://www.openhealthtools.org/ip_policy.htm.
  * The Eclipse Public License shall serve as the primary license for the
  * contributions. http://www.eclipse.org/legal/epl-v10.html.
  *
  * Contributors: Health Level Seven International - initial implementation
  ****************************************************************************************/			
				--><xs:annotation>
      <xs:documentation>Generated using schema builder version 3.4.9. Stylesheets:
Saved in XML file by RMIM Designer in Visio at 2012-07-01T08:47:28
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 8529 2011-02-09 20:49:58Z lloyd_mckenzie $
 Fix Names Transform: $Id: FixMifNames.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
  Base transform: $Id: ConvertBase.xsl 8870 2011-09-14 18:32:56Z woody_beeler $
  Package Id Conversion: $Id: TransformPackageIds.xsl 8398 2010-10-12 01:52:15Z lloyd_mckenzie $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 7375 2009-01-26 19:26:53Z wbeeler $
StaticMifToXsd.xsl version 2.0</xs:documentation>
   </xs:annotation>
   <xs:include schemaLocation="../coreschemas/infrastructureRoot-r2.xsd"/>
   <xs:include schemaLocation="COCT_MT150003UV03.xsd"/>
   <xs:include schemaLocation="COCT_MT030203UV07.xsd"/>
   <xs:complexType name="COCT_MT040203UV09.NotificationParty">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="DSET_II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="addr" type="COLL_AD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="telecom" type="COLL_TEL" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="contactOrganization" type="COCT_MT150003UV03.Organization"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="contactPerson" type="COCT_MT030203UV07.Person" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassContact" use="required"/>
   </xs:complexType>
</xs:schema>