Messages/multicacheschemas/MCCI_MT000300UV02.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ex="urn:hl7-org/v3-example" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified">
	<!--
*****************************************************************************************************************
* XML schema for message type MCCI_MT000300UV02.
* Source information:
*     Rendered by: Visio to MIF transform
*     Rendered on: 
* Saved in XML file by RMIM Designer in Visio at 2012-11-12T21:35:12
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 8529 2011-02-09 20:49:58Z lloyd_mckenzie $
 Fix Names Transform: $Id: FixMifNames.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
  Base transform: $Id: ConvertBase.xsl 8870 2011-09-14 18:32:56Z woody_beeler $
  Package Id Conversion: $Id: TransformPackageIds.xsl 8398 2010-10-12 01:52:15Z lloyd_mckenzie $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 7375 2009-01-26 19:26:53Z wbeeler $
*
* Generated by XMLITS version 3.4.9
*   MIF to XSD Transform $Id: StaticMifToXsd.xsl 8890 2012-11-27 02:38:05Z woody_beeler $
*     Package Id Conversion: $Id: TransformPackageIds.xsl 8398 2010-10-12 01:52:15Z lloyd_mckenzie $
/****************************************************************************************
  * Copyright (c) 2013 Health Level Seven International
  * All rights reserved. All contributors are assumed to participate freely in
  * IP sharing without restriction.  All licensing conforms to the Open Health
  * Tools IP Policy. http://www.openhealthtools.org/ip_policy.htm.
  * The Eclipse Public License shall serve as the primary license for the
  * contributions. http://www.eclipse.org/legal/epl-v10.html.
  *
  * Contributors: Health Level Seven International - initial implementation
  ****************************************************************************************/			
				-->
	<xs:annotation>
		<xs:documentation>Generated using schema builder version 3.4.9. Stylesheets:
Saved in XML file by RMIM Designer in Visio at 2012-11-12T21:35:12
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 8529 2011-02-09 20:49:58Z lloyd_mckenzie $
 Fix Names Transform: $Id: FixMifNames.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
  Base transform: $Id: ConvertBase.xsl 8870 2011-09-14 18:32:56Z woody_beeler $
  Package Id Conversion: $Id: TransformPackageIds.xsl 8398 2010-10-12 01:52:15Z lloyd_mckenzie $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 7375 2009-01-26 19:26:53Z wbeeler $
StaticMifToXsd.xsl version 2.0</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="../coreschemas/infrastructureRoot-r2.xsd"/>
	<xs:include schemaLocation="COCT_MT040203UV09.xsd"/>
	<xs:complexType name="MCCI_MT000300UV02.Acknowledgement">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="messageWaitingNumber" type="INT" minOccurs="0" maxOccurs="1"/>
			<xs:element name="messageWaitingPriorityCode" type="CD" minOccurs="0" maxOccurs="1"/>
			<xs:element name="targetMessage" type="MCCI_MT000300UV02.TargetMessage" nillable="true" minOccurs="1" maxOccurs="1"/>
			<xs:element name="acknowledgementDetail" type="MCCI_MT000300UV02.AcknowledgementDetail" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="AcknowledgementType" use="required"/>
	</xs:complexType>
	<xs:complexType name="MCCI_MT000300UV02.AcknowledgementDetail">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
			<xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
			<xs:element name="location" type="DSET_ST" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="AcknowledgementDetailType" use="optional"/>
	</xs:complexType>
	<xs:complexType name="MCCI_MT000300UV02.Agent">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="representedOrganization" type="MCCI_MT000300UV02.Organization" nillable="true" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="RoleClassAgent" use="required"/>
	</xs:complexType>
	<xs:complexType name="MCCI_MT000300UV02.AttentionLine">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="keyWordText" type="SC" minOccurs="0" maxOccurs="1"/>
			<xs:element name="value" type="ANY" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
	</xs:complexType>
	<xs:complexType name="MCCI_MT000300UV02.Device">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="DSET_II" minOccurs="1" maxOccurs="1"/>
			<xs:element name="name" type="COLL_EN" minOccurs="0" maxOccurs="1"/>
			<xs:element name="desc" type="ED" minOccurs="0" maxOccurs="1"/>
			<xs:element name="existenceTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
			<xs:element name="telecom" type="COLL_TEL" minOccurs="0" maxOccurs="1"/>
			<xs:element name="manufacturerModelName" type="SC" minOccurs="0" maxOccurs="1"/>
			<xs:element name="softwareName" type="SC" minOccurs="0" maxOccurs="1"/>
			<xs:element name="asAgent" type="MCCI_MT000300UV02.Agent" nillable="true" minOccurs="0" maxOccurs="1"/>
			<xs:element name="asLocatedEntity" type="MCCI_MT000300UV02.LocatedEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="EntityClassDevice" use="required"/>
		<xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required"/>
	</xs:complexType>
	<xs:complexType name="MCCI_MT000300UV02.EntityRsp">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
			<xs:element name="name" type="COLL_EN" minOccurs="0" maxOccurs="1"/>
			<xs:element name="telecom" type="COLL_TEL" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="EntityClassRoot" use="required"/>
		<xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required"/>
	</xs:complexType>
	<xs:complexType name="MCCI_MT000300UV02.LocatedEntity">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="location" type="MCCI_MT000300UV02.Place" nillable="true" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="RoleClassLocatedEntity" use="required"/>
	</xs:complexType>
	<!--<xs:complexType name="MCCI_MT000300UV02.Message">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="creationTime" type="TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="securityText" type="ST" minOccurs="0" maxOccurs="1"/>
         <xs:element name="versionCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="interactionId" type="II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="profileId" type="DSET_II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="processingCode" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="processingModeCode" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="acceptAckCode" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="attachmentText" type="DSET_ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="receiver" type="MCCI_MT000300UV02.Receiver" minOccurs="1"
                     maxOccurs="unbounded"/>
         <xs:element name="respondTo" type="MCCI_MT000300UV02.RespondTo" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="sender" type="MCCI_MT000300UV02.Sender" minOccurs="1" maxOccurs="1"/>
         <xs:element name="attentionLine" type="MCCI_MT000300UV02.AttentionLine" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="acknowledgement" type="MCCI_MT000300UV02.Acknowledgement" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
Placeholder for element referencing stub: ControlActProcess
<xs:element name="REPLACE_ME" type="xs:anyType" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
   </xs:complexType>-->
	<xs:complexType name="MCCI_MT000300UV02.Organization">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="DSET_II" minOccurs="1" maxOccurs="1"/>
			<xs:element name="name" type="COLL_EN" minOccurs="0" maxOccurs="1"/>
			<xs:element name="telecom" type="COLL_TEL" minOccurs="0" maxOccurs="1"/>
			<xs:element name="notificationParty" type="COCT_MT040203UV09.NotificationParty" nillable="true" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="EntityClassOrganization" use="required"/>
		<xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required"/>
	</xs:complexType>
	<xs:complexType name="MCCI_MT000300UV02.Place">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="DSET_II" minOccurs="1" maxOccurs="1"/>
			<xs:element name="name" type="COLL_EN" minOccurs="0" maxOccurs="1"/>
			<xs:element name="telecom" type="COLL_TEL" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="EntityClassPlace" use="required"/>
		<xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required"/>
	</xs:complexType>
	<xs:complexType name="MCCI_MT000300UV02.Receiver">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="1"/>
			<xs:element name="device" type="MCCI_MT000300UV02.Device" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="CommunicationFunctionType" use="optional" fixed="RCV"/>
	</xs:complexType>
	<xs:complexType name="MCCI_MT000300UV02.RespondTo">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="1"/>
			<xs:element name="entityRsp" type="MCCI_MT000300UV02.EntityRsp" nillable="true" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="CommunicationFunctionType" use="optional" fixed="RSP"/>
	</xs:complexType>
	<xs:complexType name="MCCI_MT000300UV02.Sender">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="1"/>
			<xs:element name="device" type="MCCI_MT000300UV02.Device" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="CommunicationFunctionType" use="optional" fixed="SND"/>
	</xs:complexType>
	<xs:complexType name="MCCI_MT000300UV02.TargetMessage">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
	</xs:complexType>
</xs:schema>
