Messages/multicacheschemas/PORP_HD050032UV04.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v3"
           xmlns:ex="urn:hl7-org/v3-example"
           targetNamespace="urn:hl7-org:v3"
           elementFormDefault="qualified"><!--
*****************************************************************************************************************
* XML schema for message type PORP_HD050032UV04.
* Source information:
*     Rendered by: Visio to MIF transform
*     Rendered on: 
* Saved in XML file by RMIM Designer in Visio at 2011-03-25T17:53:14
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
 Fix Names Transform: $Id: FixMifNames.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
  Base transform: $Id: ConvertBase.xsl 8360 2009-10-26 06:00:22Z woody_beeler $
  Package Id Conversion: $Id: TransformPackageIds.xsl 8398 2010-10-12 01:52:15Z lloyd_mckenzie $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 7375 2009-01-26 19:26:53Z wbeeler $
*
* Generated by XMLITS version 3.4.4
*   MIF to XSD Transform $Id: StaticMifToXsd.xsl 8419 2010-11-15 00:10:54Z woody_beeler $
*     Package Id Conversion: $Id: TransformPackageIds.xsl 8398 2010-10-12 01:52:15Z lloyd_mckenzie $
*
* Copyright (c) 2002, 2003, 2004, 2005, 2006, 2007 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  --><xs:annotation>
      <xs:documentation>Generated using schema builder version 3.4.4. Stylesheets:
Saved in XML file by RMIM Designer in Visio at 2011-03-25T17:53:14
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
 Fix Names Transform: $Id: FixMifNames.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
  Base transform: $Id: ConvertBase.xsl 8360 2009-10-26 06:00:22Z woody_beeler $
  Package Id Conversion: $Id: TransformPackageIds.xsl 8398 2010-10-12 01:52:15Z lloyd_mckenzie $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 7375 2009-01-26 19:26:53Z wbeeler $
StaticMifToXsd.xsl version 2.0</xs:documentation>
   </xs:annotation>
   <xs:include schemaLocation="../coreschemas/infrastructureRoot-r2.xsd"/>
   <xs:include schemaLocation="POCP_MT030100UV.xsd"/>
   <xs:include schemaLocation="POCP_MT060100UV.xsd"/>
   <xs:include schemaLocation="POCP_MT010100UV.xsd"/>
   <xs:include schemaLocation="POCP_MT080300UV.xsd"/>
   <xs:complexType name="PORP_HD050032UV04.Author">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="time" type="TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="assignedEntity2" type="POCP_MT030100UV.AssignedEntity2" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationAuthorOriginator" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
   </xs:complexType>
   <xs:complexType name="PORP_HD050032UV04.Comment">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="text" type="ED" minOccurs="1" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="author" type="PORP_HD050032UV04.Author" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="subject" type="PORP_HD050032UV04.Subject5" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="sequel" type="PORP_HD050032UV04.SequelTo" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="Code" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
   </xs:complexType>
   <xs:complexType name="PORP_HD050032UV04.Component1">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:element name="section" type="PORP_HD050032UV04.Section" nillable="true" minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="observationMedia" type="PORP_HD050032UV04.ObservationMedia"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="required"/>
      <xs:attribute name="contextConductionInd" type="xs:boolean" use="optional" default="true"/>
   </xs:complexType>
   <xs:complexType name="PORP_HD050032UV04.Component2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="section" type="PORP_HD050032UV04.Section" nillable="true" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="required"/>
      <xs:attribute name="contextConductionInd" type="xs:boolean" use="optional" default="true"/>
   </xs:complexType>
   <xs:complexType name="PORP_HD050032UV04.Component3">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:element name="nonXMLBody" type="PORP_HD050032UV04.NonXMLBody" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="structuredBody" type="PORP_HD050032UV04.StructuredBody" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="required"/>
      <xs:attribute name="contextConductionInd" type="xs:boolean" use="optional" default="true"/>
   </xs:complexType>
   <xs:complexType name="PORP_HD050032UV04.Document">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="title" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="availabilityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="confidentialityCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="languageCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="setId" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="versionNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="author" type="PORP_HD050032UV04.Author" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="legalAuthenticator" type="PORP_HD050032UV04.LegalAuthenticator"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="verifier" type="PORP_HD050032UV04.Verifier" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="relatedDocument" type="PORP_HD050032UV04.RelatedDocument" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="component" type="PORP_HD050032UV04.Component3" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassDocument" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
   </xs:complexType>
   <xs:complexType name="PORP_HD050032UV04.ExcerptFrom">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="highlight" type="PORP_HD050032UV04.Highlight" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipExcerpt" use="required"/>
   </xs:complexType>
   <xs:complexType name="PORP_HD050032UV04.Highlight">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="subject" type="PORP_HD050032UV04.Subject1" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassDocumentSection" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
   </xs:complexType>
   <xs:complexType name="PORP_HD050032UV04.LegalAuthenticator">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="time" type="TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="signatureCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="assignedEntity2" type="POCP_MT030100UV.AssignedEntity2" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationLegalAuthenticator" use="required"/>
   </xs:complexType>
   <xs:complexType name="PORP_HD050032UV04.NonXMLBody">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="text" type="ED" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassDocumentBody" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
   </xs:complexType>
   <xs:complexType name="PORP_HD050032UV04.ObservationMedia">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ST" minOccurs="0" maxOccurs="1"/>
         <xs:element name="value" type="ED" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassObservation" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
   </xs:complexType>
   <xs:complexType name="PORP_HD050032UV04.RelatedDocument">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="relatedDocument" type="PORP_HD050032UV04.RelatedDocument1"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="x_ActRelationshipDocument" use="required"/>
      <xs:attribute name="contextConductionInd" type="xs:boolean" use="optional" default="false"/>
   </xs:complexType>
   <xs:complexType name="PORP_HD050032UV04.RelatedDocument1">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="setId" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="versionNumber" type="INT" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassDocument" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
   </xs:complexType>
   <xs:complexType name="PORP_HD050032UV04.ReplacementOf">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sectionReplaced" type="PORP_HD050032UV04.SectionReplaced" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipReplaces" use="required"/>
      <xs:attribute name="contextConductionInd" type="xs:boolean" use="optional" default="false"/>
   </xs:complexType>
   <xs:complexType name="PORP_HD050032UV04.Section">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="title" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="confidentialityCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="languageCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="subject1" type="PORP_HD050032UV04.Subject3" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="author" type="PORP_HD050032UV04.Author" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="replacementOf" type="PORP_HD050032UV04.ReplacementOf" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="subject2" type="PORP_HD050032UV04.Subject2" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="component" type="PORP_HD050032UV04.Component1" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="excerpt" type="PORP_HD050032UV04.ExcerptFrom" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="subjectOf" type="PORP_HD050032UV04.Subject4" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassDocumentSection" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
   </xs:complexType>
   <xs:complexType name="PORP_HD050032UV04.SectionReplaced">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassDocumentSection" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
   </xs:complexType>
   <xs:complexType name="PORP_HD050032UV04.SequelTo">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="comment" type="PORP_HD050032UV04.Comment" nillable="true" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipSequel" use="required"/>
   </xs:complexType>
   <xs:complexType name="PORP_HD050032UV04.StructuredBody">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="component" type="PORP_HD050032UV04.Component2" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassDocumentBody" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
   </xs:complexType>
   <xs:complexType name="PORP_HD050032UV04.Subject1">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="substanceAdministration0" type="POCP_MT060100UV.SubstanceAdministration0"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasSubject" use="required"/>
   </xs:complexType>
   <xs:complexType name="PORP_HD050032UV04.Subject2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="substanceAdministration0" type="POCP_MT060100UV.SubstanceAdministration0"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasSubject" use="required"/>
   </xs:complexType>
   <xs:complexType name="PORP_HD050032UV04.Subject3">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:element name="manufacturedProduct1" type="POCP_MT010100UV.ManufacturedProduct"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:choice>
               <xs:element name="identifiedSubstance" type="POCP_MT080300UV.IdentifiedSubstance"
                           nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="ingredient" type="POCP_MT080300UV.Ingredient" nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="moiety" type="POCP_MT080300UV.Moiety" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
            </xs:choice>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="required"/>
   </xs:complexType>
   <xs:complexType name="PORP_HD050032UV04.Subject4">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="comment" type="PORP_HD050032UV04.Comment" nillable="true" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasSubject" use="required"/>
   </xs:complexType>
   <xs:complexType name="PORP_HD050032UV04.Subject5">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="textFragmentReference" type="PORP_HD050032UV04.TextFragmentReference"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasSubject" use="required"/>
   </xs:complexType>
   <xs:complexType name="PORP_HD050032UV04.TextFragmentReference">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="text" type="ED" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="Code" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
   </xs:complexType>
   <xs:complexType name="PORP_HD050032UV04.Verifier">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="time" type="TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="signatureCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="assignedEntity2" type="POCP_MT030100UV.AssignedEntity2" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationVerifier" use="required"/>
   </xs:complexType>
</xs:schema>