Messages/multicacheschemas/PRPA_MT410001UV.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v3"
           xmlns:ex="urn:hl7-org/v3-example"
           targetNamespace="urn:hl7-org:v3"
           elementFormDefault="qualified"><!--
*****************************************************************************************************************
* XML schema for message type PRPA_MT410001UV.
* Source information:
*     Rendered by: Visio to MIF transform
*     Rendered on: 
* Saved in XML file by RMIM Designer in Visio at 2011-04-02T12:35:54
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
 Fix Names Transform: $Id: FixMifNames.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
  Base transform: $Id: ConvertBase.xsl 8360 2009-10-26 06:00:22Z woody_beeler $
  Package Id Conversion: $Id: TransformPackageIds.xsl 8398 2010-10-12 01:52:15Z lloyd_mckenzie $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 7375 2009-01-26 19:26:53Z wbeeler $
*
* Generated by XMLITS version 3.4.4
*   MIF to XSD Transform $Id: StaticMifToXsd.xsl 8419 2010-11-15 00:10:54Z woody_beeler $
*     Package Id Conversion: $Id: TransformPackageIds.xsl 8398 2010-10-12 01:52:15Z lloyd_mckenzie $
*
* Copyright (c) 2002, 2003, 2004, 2005, 2006, 2007 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  --><xs:annotation>
      <xs:documentation>Generated using schema builder version 3.4.4. Stylesheets:
Saved in XML file by RMIM Designer in Visio at 2011-04-02T12:35:54
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
 Fix Names Transform: $Id: FixMifNames.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
  Base transform: $Id: ConvertBase.xsl 8360 2009-10-26 06:00:22Z woody_beeler $
  Package Id Conversion: $Id: TransformPackageIds.xsl 8398 2010-10-12 01:52:15Z lloyd_mckenzie $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 7375 2009-01-26 19:26:53Z wbeeler $
StaticMifToXsd.xsl version 2.0</xs:documentation>
   </xs:annotation>
   <xs:include schemaLocation="../coreschemas/infrastructureRoot-r2.xsd"/>
   <xs:include schemaLocation="COCT_MT090100UV01.xsd"/>
   <xs:include schemaLocation="COCT_MT070003UV02.xsd"/>
   <xs:include schemaLocation="COCT_MT470000UV.xsd"/>
   <xs:include schemaLocation="COCT_MT520001UV.xsd"/>
   <xs:include schemaLocation="COCT_MT710000UV07.xsd"/>
   <xs:include schemaLocation="COCT_MT150001UV01.xsd"/>
   <xs:include schemaLocation="COCT_MT040203UV01.xsd"/>
   <xs:include schemaLocation="COCT_MT120104UV.xsd"/>
   <xs:include schemaLocation="COCT_MT010000UV01.xsd"/>
   <xs:include schemaLocation="COCT_MT110300UV04.xsd"/>
   <xs:include schemaLocation="COCT_MT090000UV01.xsd"/>
   <xs:include schemaLocation="COCT_MT090200UV01.xsd"/>
   <xs:include schemaLocation="COCT_MT090301UV01.xsd"/>
   <xs:include schemaLocation="COCT_MT050002UV07.xsd"/>
   <xs:complexType name="PRPA_MT410001UV.Admitter">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="time" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="modeCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="assignedPerson" type="COCT_MT090100UV01.AssignedPerson" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="ADM"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT410001UV.ArrivedBy">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="blockedContextParticipationType" type="DSET_CS" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="transportationIntent" type="PRPA_MT410001UV.TransportationIntent"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="ARR"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT410001UV.AssignedPerson">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="assignedPerson" type="PRPA_MT410001UV.Person" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="representedOrganization" type="PRPA_MT410001UV.Organization"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" fixed="ASSIGNED"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT410001UV.Attender">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="time" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="modeCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="performInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="substitutionConditionCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="assignedPerson" type="COCT_MT090100UV01.AssignedPerson" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="ATND"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT410001UV.Authorization">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="blockedContextParticipationType" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="consent" type="COCT_MT470000UV.Consent" nillable="true" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="AUTH"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT410001UV.Component">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="blockedContextParticipationType" type="DSET_CS" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="patientCareProvisionEvent"
                     type="COCT_MT520001UV.PatientCareProvisionEvent"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="COMP"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT410001UV.Consultant">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="functionCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="time" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="modeCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="assignedPerson" type="COCT_MT090100UV01.AssignedPerson" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="CON"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT410001UV.EncounterAppointment">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="DSET_II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="priorityCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="confidentialityCode" type="DSET_CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="reasonCode" type="DSET_CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="admissionReferralSourceCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="lengthOfStayQuantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="preAdmitTestInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="specialCourtesiesCode" type="DSET_CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="specialArrangementCode" type="DSET_CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="subject" type="PRPA_MT410001UV.Subject" minOccurs="1" maxOccurs="1"/>
         <xs:element name="reusableDevice" type="PRPA_MT410001UV.ReusableDevice" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="responsibleParty" type="PRPA_MT410001UV.ResponsibleParty" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="performer" type="PRPA_MT410001UV.Performer" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="admitter" type="PRPA_MT410001UV.Admitter" nillable="true" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="attender" type="PRPA_MT410001UV.Attender" nillable="true" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="referrer" type="PRPA_MT410001UV.Referrer" nillable="true" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="consultant" type="PRPA_MT410001UV.Consultant" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="notificationContact" type="PRPA_MT410001UV.NotificationContact"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="location" type="PRPA_MT410001UV.Location1" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="sequelTo" type="PRPA_MT410001UV.SequelTo" nillable="true" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="reason" type="PRPA_MT410001UV.Reason1" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="authorization" type="PRPA_MT410001UV.Authorization" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="reference" type="PRPA_MT410001UV.Reference" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="arrivedBy" type="PRPA_MT410001UV.ArrivedBy" nillable="true" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="reasonOf" type="PRPA_MT410001UV.Reason2" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="componentOf" type="PRPA_MT410001UV.Component" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="ENC"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="APT"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT410001UV.Escort1">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="time" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="assignedPerson" type="PRPA_MT410001UV.AssignedPerson" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="ESC"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT410001UV.Location1">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="time" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="performInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="substitutionConditionCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="serviceDeliveryLocation" type="PRPA_MT410001UV.ServiceDeliveryLocation"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationTargetLocation" use="required"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT410001UV.Location4">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="locatedEntity" type="COCT_MT070003UV02.LocatedEntity" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationTargetLocation" use="required"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT410001UV.NotificationContact">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="time" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="notificationParty" type="COCT_MT040203UV01.NotificationParty"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="NOT"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT410001UV.Organization">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="name" type="EN" minOccurs="0" maxOccurs="1"/>
         <xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="addr" type="AD" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="EntityClassOrganization" use="required"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT410001UV.Performer">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="functionCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="time" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="modeCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="performInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="substitutionConditionCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="assignedPerson" type="COCT_MT090100UV01.AssignedPerson" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationPhysicalPerformer" use="required"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT410001UV.Performer2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="time" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="assignedPerson" type="PRPA_MT410001UV.AssignedPerson" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="PRF"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT410001UV.Person">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="name" type="EN" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="EntityClass" use="optional" fixed="PSN"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT410001UV.Reason1">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="blockedContextParticipationType" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="observationDx" type="COCT_MT120104UV.ObservationDx" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="RSON"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT410001UV.Reason2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="blockedContextParticipationType" type="DSET_CS" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="encounter" type="COCT_MT010000UV01.Encounter" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="RSON"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT410001UV.Reference">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="blockedContextParticipationType" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="account" type="COCT_MT110300UV04.Account" nillable="true" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="REFR"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT410001UV.Referrer">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="modeCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="assignedEntity" type="COCT_MT090000UV01.AssignedEntity" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="REF"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT410001UV.ResponsibleParty">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="time" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="assignedOrganization" type="COCT_MT090200UV01.AssignedOrganization"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="RESP"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT410001UV.ReusableDevice">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="time" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="performInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="substitutionConditionCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="assignedDevice" type="COCT_MT090301UV01.AssignedDevice" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="RDV"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT410001UV.SequelTo">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="blockedContextParticipationType" type="DSET_CS" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="encounter" type="COCT_MT010000UV01.Encounter" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipSequel" use="required"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT410001UV.ServiceDeliveryLocation">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="DSET_II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="name" type="COLL_EN" minOccurs="0" maxOccurs="1"/>
         <xs:element name="addr" type="COLL_AD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="telecom" type="COLL_TEL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="location" type="COCT_MT710000UV07.Place" nillable="true" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="serviceProviderOrganization" type="COCT_MT150001UV01.Organization"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassServiceDeliveryLocation" use="required"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT410001UV.Subject">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="patient" type="COCT_MT050002UV07.Patient" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="SBJ"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT410001UV.TransportationIntent">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="DSET_II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="confidentialityCode" type="DSET_CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="performer" type="PRPA_MT410001UV.Performer2" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="escort" type="PRPA_MT410001UV.Escort1" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="location" type="PRPA_MT410001UV.Location4" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="TRNS"/>
      <xs:attribute name="moodCode" type="ActMoodIntent" use="required"/>
   </xs:complexType>
</xs:schema>