Messages/multicacheschemas/PRPA_MT400003UV01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ex="urn:hl7-org/v3-example" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified">
	<!--
*****************************************************************************************************************
* XML schema for message type PRPA_MT400003UV01.
* Source information:
*     Rendered by: Visio to MIF transform
*     Rendered on: 
* Saved in XML file by RMIM Designer in Visio at 2012-03-17T20:37:05
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 8529 2011-02-09 20:49:58Z lloyd_mckenzie $
 Fix Names Transform: $Id: FixMifNames.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
  Base transform: $Id: ConvertBase.xsl 8870 2011-09-14 18:32:56Z woody_beeler $
  Package Id Conversion: $Id: TransformPackageIds.xsl 8398 2010-10-12 01:52:15Z lloyd_mckenzie $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 7375 2009-01-26 19:26:53Z wbeeler $
*
* Generated by XMLITS version 3.4.9
*   MIF to XSD Transform $Id: StaticMifToXsd.xsl 8890 2012-11-27 02:38:05Z woody_beeler $
*     Package Id Conversion: $Id: TransformPackageIds.xsl 8398 2010-10-12 01:52:15Z lloyd_mckenzie $
/****************************************************************************************
  * Copyright (c) 2013 Health Level Seven International
  * All rights reserved. All contributors are assumed to participate freely in
  * IP sharing without restriction.  All licensing conforms to the Open Health
  * Tools IP Policy. http://www.openhealthtools.org/ip_policy.htm.
  * The Eclipse Public License shall serve as the primary license for the
  * contributions. http://www.eclipse.org/legal/epl-v10.html.
  *
  * Contributors: Health Level Seven International - initial implementation
  ****************************************************************************************/			
				-->
	<xs:annotation>
		<xs:documentation>Generated using schema builder version 3.4.9. Stylesheets:
Saved in XML file by RMIM Designer in Visio at 2012-03-17T20:37:05
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 8529 2011-02-09 20:49:58Z lloyd_mckenzie $
 Fix Names Transform: $Id: FixMifNames.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
  Base transform: $Id: ConvertBase.xsl 8870 2011-09-14 18:32:56Z woody_beeler $
  Package Id Conversion: $Id: TransformPackageIds.xsl 8398 2010-10-12 01:52:15Z lloyd_mckenzie $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 7375 2009-01-26 19:26:53Z wbeeler $
StaticMifToXsd.xsl version 2.0</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="../coreschemas/infrastructureRoot-r2.xsd"/>
	<xs:include schemaLocation="COCT_MT070003UV02.xsd"/>
	<xs:include schemaLocation="COCT_MT090100UV01.xsd"/>
	<xs:include schemaLocation="COCT_MT120104UV.xsd"/>
	<xs:include schemaLocation="COCT_MT050002UV07.xsd"/>
	<xs:complexType name="PRPA_MT400003UV01.AssignedPerson">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
			<xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="1"/>
			<xs:element name="assignedPerson" type="PRPA_MT400003UV01.Person" nillable="true" minOccurs="0" maxOccurs="1"/>
			<xs:element name="representedOrganization" type="PRPA_MT400003UV01.Organization" nillable="true" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="RoleClass" use="optional" fixed="ASSIGNED"/>
	</xs:complexType>
	<xs:complexType name="PRPA_MT400003UV01.DepartedBy">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="transportationEvent" type="PRPA_MT400003UV01.TransportationEvent" nillable="true" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="DEP"/>
		<xs:attribute name="blockedContextParticipationType" type="ParticipationType" use="optional" default="DIS"/>
	</xs:complexType>
	<xs:complexType name="PRPA_MT400003UV01.Discharger">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="time" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
			<xs:element name="modeCode" type="CD" minOccurs="0" maxOccurs="1"/>
			<xs:element name="assignedPerson" type="COCT_MT090100UV01.AssignedPerson" nillable="true" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="DIS"/>
	</xs:complexType>
	<xs:complexType name="PRPA_MT400003UV01.EncounterEvent">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="DSET_II" minOccurs="1" maxOccurs="1"/>
			<xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
			<xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1"/>
			<xs:element name="effectiveTime" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
			<xs:element name="activityTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
			<xs:element name="lengthOfStayQuantity" type="PQ" minOccurs="0" maxOccurs="1"/>
			<xs:element name="dischargeDispositionCode" type="CD" minOccurs="0" maxOccurs="1"/>
			<xs:element name="subject" type="PRPA_MT400003UV01.Subject" minOccurs="1" maxOccurs="1"/>
			<xs:element name="discharger" type="PRPA_MT400003UV01.Discharger" nillable="true" minOccurs="0" maxOccurs="1"/>
			<xs:element name="reason" type="PRPA_MT400003UV01.Reason1" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="departedBy" type="PRPA_MT400003UV01.DepartedBy" nillable="true" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="ActClass" use="optional" fixed="ENC"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="PRPA_MT400003UV01.Escort2">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="time" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
			<xs:element name="assignedPerson" type="PRPA_MT400003UV01.AssignedPerson" nillable="true" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="ESC"/>
	</xs:complexType>
	<xs:complexType name="PRPA_MT400003UV01.Location3">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
			<xs:element name="locatedEntity" type="COCT_MT070003UV02.LocatedEntity" nillable="true" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationTargetLocation" use="required"/>
	</xs:complexType>
	<xs:complexType name="PRPA_MT400003UV01.Organization">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="name" type="EN" minOccurs="0" maxOccurs="1"/>
			<xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="1"/>
			<xs:element name="addr" type="AD" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="EntityClassOrganization" use="required"/>
		<xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
	</xs:complexType>
	<xs:complexType name="PRPA_MT400003UV01.Performer1">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="time" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
			<xs:element name="assignedPerson" type="PRPA_MT400003UV01.AssignedPerson" nillable="true" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="PRF"/>
	</xs:complexType>
	<xs:complexType name="PRPA_MT400003UV01.Person">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="name" type="EN" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="EntityClass" use="optional" fixed="PSN"/>
		<xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
	</xs:complexType>
	<xs:complexType name="PRPA_MT400003UV01.Reason1">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="priorityNumber" type="INT" minOccurs="0" maxOccurs="1"/>
			<xs:element name="observationDx" type="COCT_MT120104UV.ObservationDx" nillable="true" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="RSON"/>
		<xs:attribute name="blockedContextParticipationType" type="ParticipationType" use="optional" fixed="PART"/>
	</xs:complexType>
	<xs:complexType name="PRPA_MT400003UV01.Subject">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="patient" type="COCT_MT050002UV07.Patient" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="SBJ"/>
	</xs:complexType>
	<xs:complexType name="PRPA_MT400003UV01.TransportationEvent">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="DSET_II" minOccurs="0" maxOccurs="1"/>
			<xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
			<xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
			<xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
			<xs:element name="priorityCode" type="CD" minOccurs="0" maxOccurs="1"/>
			<xs:element name="confidentialityCode" type="CD" minOccurs="0" maxOccurs="1"/>
			<xs:element name="performer" type="PRPA_MT400003UV01.Performer1" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="escort" type="PRPA_MT400003UV01.Escort2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="location" type="PRPA_MT400003UV01.Location3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="ActClass" use="optional" fixed="TRNS"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
</xs:schema>
