Messages/multicacheschemas/PRSC_MT050101UV.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ex="urn:hl7-org/v3-example" xmlns="urn:hl7-org:v3" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified">
	<!--
*****************************************************************************************************************
* XML schema for message type PRSC_MT050101UV.
* Source information:
*     Rendered by: RoseTree 4.2.7
*     Rendered on: 
* HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: RoseTreeHmdToMIFStaticModel.xsl 49 2009-03-25 15:09:56Z Woody $
  Base transform: $Id: ConvertBase.xsl 8 2009-01-26 19:10:36Z Woody $
  Package Id Conversion: $Id: TransformPackageIds.xsl 8 2009-01-26 19:10:36Z Woody $
  HTML To MIF markup: $Id: HtmlToMIFMarkup.xsl 8 2009-01-26 19:10:36Z Woody $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 8 2009-01-26 19:10:36Z Woody $
 Fix Names Transform: $Id: FixMifNames.xsl 47 2009-03-23 00:05:58Z Woody $
  Base transform: $Id: ConvertBase.xsl 8 2009-01-26 19:10:36Z Woody $
  Package Id Conversion: $Id: TransformPackageIds.xsl 8 2009-01-26 19:10:36Z Woody $
*
* Generated by XMLITS version 3.2.5
*   MIF to XSD Transform $Id: StaticMifToXsd.xsl 98 2009-08-08 15:53:37Z Woody $
*     Package Id Conversion: $Id: TransformPackageIds.xsl 8 2009-01-26 19:10:36Z Woody $
*
* Copyright (c) 2002, 2003, 2004, 2005, 2006, 2007 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  -->
	<xs:annotation>
		<xs:documentation>Generated using schema builder version 3.2.5. Stylesheets:
HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: RoseTreeHmdToMIFStaticModel.xsl 49 2009-03-25 15:09:56Z Woody $
  Base transform: $Id: ConvertBase.xsl 8 2009-01-26 19:10:36Z Woody $
  Package Id Conversion: $Id: TransformPackageIds.xsl 8 2009-01-26 19:10:36Z Woody $
  HTML To MIF markup: $Id: HtmlToMIFMarkup.xsl 8 2009-01-26 19:10:36Z Woody $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 8 2009-01-26 19:10:36Z Woody $
 Fix Names Transform: $Id: FixMifNames.xsl 47 2009-03-23 00:05:58Z Woody $
  Base transform: $Id: ConvertBase.xsl 8 2009-01-26 19:10:36Z Woody $
  Package Id Conversion: $Id: TransformPackageIds.xsl 8 2009-01-26 19:10:36Z Woody $
StaticMifToXsd.xsl version 2.0</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="../coreschemas/infrastructureRoot-r2.xsd"/>
	<xs:include schemaLocation="COCT_MT050000UV01.xsd"/>
	<xs:include schemaLocation="COCT_MT150000UV02.xsd"/>
	<xs:include schemaLocation="COCT_MT090100UV01.xsd"/>
	<xs:complexType name="PRSC_MT050101UV.Schedule">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="DSET_II" minOccurs="0" maxOccurs="1"/>
			<xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
			<xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1"/>
			<xs:element name="title" type="ED" minOccurs="0" maxOccurs="1"/>
			<xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
			<xs:element name="effectiveTime" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
			<xs:element name="repeatNumber" type="INT" minOccurs="1" maxOccurs="1"/>
			<xs:element name="component" type="PRSC_MT050101UV.Component" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="indirectTarget" type="PRSC_MT050101UV.IndirectTarget" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="ActRelationshipSchedulesRequest" use="required"/>
		<xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
	</xs:complexType>
	<xs:complexType name="PRSC_MT050101UV.Component">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="resourceSlot" type="PRSC_MT050101UV.ResourceSlot" nillable="true" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
	</xs:complexType>
	<xs:complexType name="PRSC_MT050101UV.ResourceSlot">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="DSET_II" minOccurs="0" maxOccurs="1"/>
			<xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
			<xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1"/>
			<xs:element name="effectiveTime" type="TS" minOccurs="1" maxOccurs="1"/>
			<xs:element name="priorityCode" type="CD" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="repeatNumber" type="INT" minOccurs="0" maxOccurs="1"/>
			<xs:element name="directTarget" type="PRSC_MT050101UV.DirectTarget"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="ActMood" use="required"/>
		<xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
	</xs:complexType>
	<xs:complexType name="PRSC_MT050101UV.DirectTarget">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="IdentifiedEntity" type="PRSC_MT050101UV.IdentifiedEntity" nillable="true" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationTargetDirect" use="required"/>
	</xs:complexType>
	<xs:complexType name="PRSC_MT050101UV.IndirectTarget">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="IdentifiedEntity" type="PRSC_MT050101UV.IdentifiedEntity" nillable="true" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="x_ActRelationshipDocument" use="required"/>
	</xs:complexType>
	<xs:complexType name="PRSC_MT050101UV.IdentifiedEntity">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="DSET_II" minOccurs="0" maxOccurs="1"/>
			<xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
			<xs:choice>
				<xs:element name="ResourceGroup" type="PRSC_MT050101UV.ResourceGroup" nillable="true" minOccurs="0" maxOccurs="1"/>
				<xs:element name="Person" type="PRSC_MT050101UV.Person" nillable="true" minOccurs="0" maxOccurs="1"/>
				<xs:element name="ManufacturedMaterial" type="PRSC_MT050101UV.ManufacturedMaterial" nillable="true" minOccurs="0" maxOccurs="1"/>
				<xs:element name="Place" type="PRSC_MT050101UV.Place" nillable="true" minOccurs="0" maxOccurs="1"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="ActClassConsent" use="required"/>
	</xs:complexType>
	<xs:complexType name="PRSC_MT050101UV.ResourceGroup">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="DSET_II" minOccurs="0" maxOccurs="1"/>
			<xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
			<xs:element name="name" type="COLL_EN" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="EntityClassPerson" use="required"/>
		<xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required"/>
	</xs:complexType>
	<xs:complexType name="PRSC_MT050101UV.Person">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="DSET_II" minOccurs="0" maxOccurs="1"/>
			<xs:element name="name" type="COLL_EN" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="EntityClassPerson" use="required"/>
		<xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required"/>
	</xs:complexType>
	<xs:complexType name="PRSC_MT050101UV.ManufacturedMaterial">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="DSET_II" minOccurs="0" maxOccurs="1"/>
			<xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
			<xs:element name="name" type="COLL_EN" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="EntityClassPerson" use="required"/>
		<xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required"/>
	</xs:complexType>
	<xs:complexType name="PRSC_MT050101UV.Place">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="DSET_II" minOccurs="0" maxOccurs="1"/>
			<xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
			<xs:element name="name" type="COLL_EN" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="EntityClassPerson" use="required"/>
		<xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required"/>
	</xs:complexType>
</xs:schema>
