Messages/multicacheschemas/QUQI_MT021001UV02.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:ex="urn:hl7-org/v3-example"
           targetNamespace="urn:hl7-org:v3"
           elementFormDefault="qualified"><!--
*****************************************************************************************************************
* XML schema for message type QUQI_MT021001UV02.
* Source information:
*     Rendered by: Visio to MIF transform
*     Rendered on: 
* Saved in XML file by RMIM Designer in Visio at 2012-11-12T21:55:24
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 8529 2011-02-09 20:49:58Z lloyd_mckenzie $
 Fix Names Transform: $Id: FixMifNames.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
  Base transform: $Id: ConvertBase.xsl 8870 2011-09-14 18:32:56Z woody_beeler $
  Package Id Conversion: $Id: TransformPackageIds.xsl 8398 2010-10-12 01:52:15Z lloyd_mckenzie $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 7375 2009-01-26 19:26:53Z wbeeler $
*
* Generated by XMLITS version 3.4.9
*   MIF to XSD Transform $Id: StaticMifToXsd.xsl 8890 2012-11-27 02:38:05Z woody_beeler $
*     Package Id Conversion: $Id: TransformPackageIds.xsl 8398 2010-10-12 01:52:15Z lloyd_mckenzie $
/****************************************************************************************
  * Copyright (c) 2013 Health Level Seven International
  * All rights reserved. All contributors are assumed to participate freely in
  * IP sharing without restriction.  All licensing conforms to the Open Health
  * Tools IP Policy. http://www.openhealthtools.org/ip_policy.htm.
  * The Eclipse Public License shall serve as the primary license for the
  * contributions. http://www.eclipse.org/legal/epl-v10.html.
  *
  * Contributors: Health Level Seven International - initial implementation
  ****************************************************************************************/			
				--><xs:annotation>
      <xs:documentation>Generated using schema builder version 3.4.9. Stylesheets:
Saved in XML file by RMIM Designer in Visio at 2012-11-12T21:55:24
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 8529 2011-02-09 20:49:58Z lloyd_mckenzie $
 Fix Names Transform: $Id: FixMifNames.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
  Base transform: $Id: ConvertBase.xsl 8870 2011-09-14 18:32:56Z woody_beeler $
  Package Id Conversion: $Id: TransformPackageIds.xsl 8398 2010-10-12 01:52:15Z lloyd_mckenzie $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 7375 2009-01-26 19:26:53Z wbeeler $
StaticMifToXsd.xsl version 2.0</xs:documentation>
   </xs:annotation>
   <xs:include schemaLocation="../coreschemas/infrastructureRoot-r2.xsd"/>
   <xs:include schemaLocation="COCT_MT090100UV01.xsd"/>
   <xs:include schemaLocation="COCT_MT090300UV01.xsd"/>
   <xs:complexType name="QUQI_MT021001UV02.AuthorOrPerformer">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="noteText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="time" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="modeCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="signatureCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="signatureText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="assignedPerson" type="COCT_MT090100UV01.AssignedPerson" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="assignedDevice" type="COCT_MT090300UV01.AssignedDevice" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="x_ParticipationAuthorPerformer" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="AP"/>
   </xs:complexType><!--<xs:complexType name="QUQI_MT021001UV02.ControlActProcess">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="DSET_II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityCode" type="DSET_CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="reasonCode" type="DSET_CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="languageCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="overseer" type="QUQI_MT021001UV02.Overseer" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="authorOrPerformer" type="QUQI_MT021001UV02.AuthorOrPerformer"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="dataEnterer" type="QUQI_MT021001UV02.DataEnterer" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="informationRecipient" type="QUQI_MT021001UV02.InformationRecipient"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="reasonOf" type="QUQI_MT021001UV02.Reason" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
Placeholder for element referencing stub: QueryByParameter
<xs:element name="REPLACE_ME" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassControlAct" use="required"/>
      <xs:attribute name="moodCode" type="x_ActMoodIntentEvent" use="required"/>
   </xs:complexType>--><xs:complexType name="QUQI_MT021001UV02.DataEnterer">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="time" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="assignedPerson" type="COCT_MT090100UV01.AssignedPerson" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationDataEntryPerson" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="AP"/>
   </xs:complexType>
   <xs:complexType name="QUQI_MT021001UV02.InformationRecipient">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="time" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="assignedPerson" type="COCT_MT090100UV01.AssignedPerson" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationInformationRecipient" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="AP"/>
   </xs:complexType>
   <xs:complexType name="QUQI_MT021001UV02.Overseer">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="noteText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="time" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="modeCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="signatureCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="signatureText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="assignedPerson" type="COCT_MT090100UV01.AssignedPerson" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="x_ParticipationVrfRespSprfWit" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="AP"/>
   </xs:complexType>
   <xs:complexType name="QUQI_MT021001UV02.Reason">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipReason" use="required"/>
      <xs:attribute name="contextConductionInd" type="xs:boolean" use="optional"/>
   </xs:complexType>
</xs:schema>