Messages/multicacheschemas/REDS_HD020001UV01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v3"
           xmlns:ex="urn:hl7-org/v3-example"
           targetNamespace="urn:hl7-org:v3"
           elementFormDefault="qualified"><!--
*****************************************************************************************************************
* XML schema for message type REDS_HD020001UV01.
* Source information:
*     Rendered by: Visio to MIF transform
*     Rendered on: 
* Saved in XML file by RMIM Designer in Visio at 2011-03-26T14:46:17
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
 Fix Names Transform: $Id: FixMifNames.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
  Base transform: $Id: ConvertBase.xsl 8360 2009-10-26 06:00:22Z woody_beeler $
  Package Id Conversion: $Id: TransformPackageIds.xsl 8398 2010-10-12 01:52:15Z lloyd_mckenzie $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 7375 2009-01-26 19:26:53Z wbeeler $
*
* Generated by XMLITS version 3.4.4
*   MIF to XSD Transform $Id: StaticMifToXsd.xsl 8419 2010-11-15 00:10:54Z woody_beeler $
*     Package Id Conversion: $Id: TransformPackageIds.xsl 8398 2010-10-12 01:52:15Z lloyd_mckenzie $
*
* Copyright (c) 2002, 2003, 2004, 2005, 2006, 2007 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  --><xs:annotation>
      <xs:documentation>Generated using schema builder version 3.4.4. Stylesheets:
Saved in XML file by RMIM Designer in Visio at 2011-03-26T14:46:17
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
 Fix Names Transform: $Id: FixMifNames.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
  Base transform: $Id: ConvertBase.xsl 8360 2009-10-26 06:00:22Z woody_beeler $
  Package Id Conversion: $Id: TransformPackageIds.xsl 8398 2010-10-12 01:52:15Z lloyd_mckenzie $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 7375 2009-01-26 19:26:53Z wbeeler $
StaticMifToXsd.xsl version 2.0</xs:documentation>
   </xs:annotation>
   <xs:include schemaLocation="../coreschemas/infrastructureRoot-r2.xsd"/>
   <xs:complexType name="REDS_HD020001UV01.AcuityCriterion">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassObservation" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodEventCriterion" use="required"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001UV01.Appendage">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="milestone" type="REDS_HD020001UV01.Milestone" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipIsAppendage" use="required"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001UV01.AssignedCustodian">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="assignedOrganization" type="REDS_HD020001UV01.Organization"
                        nillable="true"
                        minOccurs="0"
                        maxOccurs="1"/>
            <xs:element name="assignedPerson" type="REDS_HD020001UV01.Person" nillable="true"
                        minOccurs="0"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassAssignedEntity" use="required"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001UV01.AssignedEditor">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="DSET_II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="assignedPerson" type="REDS_HD020001UV01.Person" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassAssignedEntity" use="required"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001UV01.AssignedEntity">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="DSET_II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="assignedPerson" type="REDS_HD020001UV01.Person" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="representedOrganization" type="REDS_HD020001UV01.Organization"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassAssignedEntity" use="required"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001UV01.Authenticator">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="time" type="TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="signatureCode" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="assignedEntity" type="REDS_HD020001UV01.AssignedEntity" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationAuthenticator" use="required"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001UV01.Author">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="documentAuthor" type="REDS_HD020001UV01.DocumentAuthor" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationAuthorOriginator" use="required"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001UV01.Component">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="conjunctionCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="orderSetSection" type="REDS_HD020001UV01.OrderSetSection" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="required"/>
      <xs:attribute name="contextConductionInd" type="xs:boolean" use="optional" default="true"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001UV01.Component1">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="orderSetBody" type="REDS_HD020001UV01.OrderSetBody" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="required"/>
      <xs:attribute name="contextConductionInd" type="xs:boolean" use="optional" default="true"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001UV01.Component4">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="conjunctionCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="orderSetSection" type="REDS_HD020001UV01.OrderSetSection" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="required"/>
      <xs:attribute name="contextConductionInd" type="xs:boolean" use="optional" default="true"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001UV01.ConcernCriterion">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassObservation" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodEventCriterion" use="required"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001UV01.Consumable">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="manufacturedProduct" type="REDS_HD020001UV01.ManufacturedProduct"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationConsumable" use="required"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001UV01.CriterionGroup">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="value" type="ANY" minOccurs="0" maxOccurs="1"/>
         <xs:element name="interpretationCode" type="DSET_CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="precondition" type="REDS_HD020001UV01.Precondition2" nillable="true"
                     minOccurs="1"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassObservation" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodEventCriterion" use="required"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001UV01.Custodian">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="assignedCustodian" type="REDS_HD020001UV01.AssignedCustodian"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationCustodian" use="required"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001UV01.Description">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="text" type="ST" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="Code" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001UV01.DocumentAuthor">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="DSET_II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="assignedPerson" type="REDS_HD020001UV01.Person" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="representedOrganization" type="REDS_HD020001UV01.Organization"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassAssignedEntity" use="required"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001UV01.EncounterRequest">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="1" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="QSET_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="trigger" type="REDS_HD020001UV01.Trigger" nillable="true" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="support" type="REDS_HD020001UV01.Support2" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="referenceRange" type="REDS_HD020001UV01.ReferenceRange" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="subjectOf" type="REDS_HD020001UV01.Subject2" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="referencedBy" type="REDS_HD020001UV01.Reference" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassEncounter" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodRequest" use="required"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001UV01.Entry">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="conjunctionCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="observationRequest" type="REDS_HD020001UV01.ObservationRequest"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="substanceAdministrationRequest"
                        type="REDS_HD020001UV01.SubstanceAdministrationRequest"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="supplyRequest" type="REDS_HD020001UV01.SupplyRequest" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="procedureRequest" type="REDS_HD020001UV01.ProcedureRequest"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="externalOrderSetDocument"
                        type="REDS_HD020001UV01.ExternalOrderSetDocument"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="encounterRequest" type="REDS_HD020001UV01.EncounterRequest"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="observationEvent" type="REDS_HD020001UV01.ObservationEvent"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="goalAssertion" type="REDS_HD020001UV01.GoalAssertion" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="x_ActRelationshipEntry" use="required"/>
      <xs:attribute name="contextConductionInd" type="xs:boolean" use="optional" default="true"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001UV01.ExternalOrderSetDocument">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="1" maxOccurs="1"/>
         <xs:element name="versionNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="trigger" type="REDS_HD020001UV01.Trigger" nillable="true" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="support" type="REDS_HD020001UV01.Support2" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="referenceRange" type="REDS_HD020001UV01.ReferenceRange" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="subjectOf" type="REDS_HD020001UV01.Subject2" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="referencedBy" type="REDS_HD020001UV01.Reference" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassDocument" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001UV01.Goal">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="targetCompletion" type="REDS_HD020001UV01.TargetCompletion"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasGoal" use="required"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001UV01.GoalAssertion">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="1" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="QSET_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="repeatNumber" type="IVL_INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="value" type="ANY" minOccurs="0" maxOccurs="1"/>
         <xs:element name="trigger" type="REDS_HD020001UV01.Trigger" nillable="true" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="support" type="REDS_HD020001UV01.Support2" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="referenceRange" type="REDS_HD020001UV01.ReferenceRange" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="subjectOf" type="REDS_HD020001UV01.Subject2" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="referencedBy" type="REDS_HD020001UV01.Reference" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassObservation" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodGoal" use="required"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001UV01.Informant">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="time" type="TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="assignedEditor" type="REDS_HD020001UV01.AssignedEditor" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationInformant" use="required"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001UV01.LabeledDrug">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="name" type="ST" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="EntityClassManufacturedMaterial" use="required"/>
      <xs:attribute name="determinerCode" type="EntityDeterminerDetermined" use="required"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001UV01.ManufacturedProduct">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="DSET_II" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="manufacturedLabeledDrug" type="REDS_HD020001UV01.LabeledDrug"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="manufacturedMaterial" type="REDS_HD020001UV01.Material" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
         <xs:element name="manufacturerOrganization" type="REDS_HD020001UV01.Organization"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassManufacturedProduct" use="required"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001UV01.Material">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="name" type="ST" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="EntityClassManufacturedMaterial" use="required"/>
      <xs:attribute name="determinerCode" type="EntityDeterminerDetermined" use="required"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001UV01.Milestone">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="title" type="ST" minOccurs="1" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="goal" type="REDS_HD020001UV01.Goal" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassObservation" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001UV01.Note">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="text" type="ST" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassDocument" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001UV01.ObservationEvent">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="1" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="QSET_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="value" type="ANY" minOccurs="0" maxOccurs="1"/>
         <xs:element name="trigger" type="REDS_HD020001UV01.Trigger" nillable="true" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="support" type="REDS_HD020001UV01.Support2" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="referenceRange" type="REDS_HD020001UV01.ReferenceRange" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="subjectOf" type="REDS_HD020001UV01.Subject2" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="referencedBy" type="REDS_HD020001UV01.Reference" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassObservation" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001UV01.ObservationRequest">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="1" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="QSET_TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="priorityCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="repeatNumber" type="IVL_INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="methodCode" type="DSET_CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="trigger" type="REDS_HD020001UV01.Trigger" nillable="true" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="support" type="REDS_HD020001UV01.Support2" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="referenceRange" type="REDS_HD020001UV01.ReferenceRange" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="subjectOf" type="REDS_HD020001UV01.Subject2" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="referencedBy" type="REDS_HD020001UV01.Reference" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassObservation" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodRequest" use="required"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001UV01.OrderDocumentExternalReference">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassDocument" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001UV01.OrderItemAlert">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityCode" type="DSET_CD" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassDetectedIssue" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001UV01.OrderItemExternalReference">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassDocument" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001UV01.OrderSectionAlert">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityCode" type="DSET_CD" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassDetectedIssue" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodDefinition" use="required"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001UV01.OrderSetBody">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="reason" type="REDS_HD020001UV01.Reason" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="precondition" type="REDS_HD020001UV01.Precondition1" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="component" type="REDS_HD020001UV01.Component" nillable="true"
                     minOccurs="1"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassComposition" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodDefinition" use="required"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001UV01.OrderSetDocument">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="title" type="ST" minOccurs="1" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="versionNumber" type="INT" minOccurs="1" maxOccurs="1"/>
         <xs:element name="author" type="REDS_HD020001UV01.Author" nillable="true" minOccurs="1"
                     maxOccurs="unbounded"/>
         <xs:element name="informant" type="REDS_HD020001UV01.Informant" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="custodian" type="REDS_HD020001UV01.Custodian" nillable="true"
                     minOccurs="0"
                     maxOccurs="2"/>
         <xs:element name="authenticator" type="REDS_HD020001UV01.Authenticator" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="predecessor" type="REDS_HD020001UV01.Predecessor" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="appendage" type="REDS_HD020001UV01.Appendage" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="support" type="REDS_HD020001UV01.Support" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="summary" type="REDS_HD020001UV01.Summary" nillable="true" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="component" type="REDS_HD020001UV01.Component1" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassDocument" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodDefinition" use="required"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001UV01.OrderSetSection">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="title" type="ST" minOccurs="1" maxOccurs="1"/>
         <xs:element name="entry" type="REDS_HD020001UV01.Entry" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="component" type="REDS_HD020001UV01.Component4" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="subjectOf" type="REDS_HD020001UV01.Subject" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="Code" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodDefinition" use="required"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001UV01.Organization">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="name" type="ST" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="EntityClassOrganization" use="required"/>
      <xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001UV01.ParentDocument">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="title" type="ED" minOccurs="1" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="versionNumber" type="INT" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassDocument" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodDefinition" use="required"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001UV01.Person">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="name" type="EN" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="EntityClassPerson" use="required"/>
      <xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001UV01.Precondition1">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="conjunctionCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="acuityCriterion" type="REDS_HD020001UV01.AcuityCriterion" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="criterionGroup" type="REDS_HD020001UV01.CriterionGroup" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="concernCriterion" type="REDS_HD020001UV01.ConcernCriterion"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="sessionCriterion" type="REDS_HD020001UV01.SessionCriterion"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasPre-condition" use="required"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001UV01.Precondition2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="conjunctionCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="acuityCriterion" type="REDS_HD020001UV01.AcuityCriterion" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="criterionGroup" type="REDS_HD020001UV01.CriterionGroup" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="concernCriterion" type="REDS_HD020001UV01.ConcernCriterion"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="sessionCriterion" type="REDS_HD020001UV01.SessionCriterion"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasPre-condition" use="required"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001UV01.Predecessor">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="parentDocument" type="REDS_HD020001UV01.ParentDocument" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipSucceeds" use="required"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001UV01.ProcedureRequest">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="DSET_II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="1" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="repeatNumber" type="IVL_INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="methodCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="approachSiteCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="trigger" type="REDS_HD020001UV01.Trigger" nillable="true" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="support" type="REDS_HD020001UV01.Support2" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="referenceRange" type="REDS_HD020001UV01.ReferenceRange" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="subjectOf" type="REDS_HD020001UV01.Subject2" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="referencedBy" type="REDS_HD020001UV01.Reference" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassProcedure" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodRequest" use="required"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001UV01.Product">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="manufacturedProduct" type="REDS_HD020001UV01.ManufacturedProduct"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationProduct" use="required"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001UV01.Reason">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="useCase" type="REDS_HD020001UV01.UseCase" nillable="true" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipReason" use="required"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001UV01.Reference">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="note" type="REDS_HD020001UV01.Note" nillable="true" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipRefersTo" use="required"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001UV01.ReferenceRange">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="strengthOfRecommendation"
                     type="REDS_HD020001UV01.StrengthOfRecommendation"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasReferenceValues" use="required"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001UV01.SelectionStatus">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassObservation" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001UV01.SessionCriterion">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassProcedure" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodEventCriterion" use="required"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001UV01.StrengthOfRecommendation">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="value" type="ANY" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassObservation" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001UV01.Subject">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="orderSectionAlert" type="REDS_HD020001UV01.OrderSectionAlert"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasSubject" use="required"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001UV01.Subject2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="orderItemAlert" type="REDS_HD020001UV01.OrderItemAlert" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasSubject" use="required"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001UV01.SubstanceAdministrationRequest">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="1" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="QSET_TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="priorityCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="repeatNumber" type="IVL_INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="approachSiteCode" type="DSET_CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="routeCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="doseQuantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="rateQuantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="administrationUnitCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="product" type="REDS_HD020001UV01.Product" minOccurs="1"
                     maxOccurs="unbounded"/>
         <xs:element name="trigger" type="REDS_HD020001UV01.Trigger" nillable="true" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="support" type="REDS_HD020001UV01.Support2" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="referenceRange" type="REDS_HD020001UV01.ReferenceRange" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="subjectOf" type="REDS_HD020001UV01.Subject2" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="referencedBy" type="REDS_HD020001UV01.Reference" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassSubstanceAdministration" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodRequest" use="required"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001UV01.Summary">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="description" type="REDS_HD020001UV01.Description" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipSummarizedBy" use="required"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001UV01.SupplyRequest">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="QSET_TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="priorityCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="repeatNumber" type="IVL_INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="quantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="consumable" type="REDS_HD020001UV01.Consumable" minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="trigger" type="REDS_HD020001UV01.Trigger" nillable="true" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="support" type="REDS_HD020001UV01.Support2" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="referenceRange" type="REDS_HD020001UV01.ReferenceRange" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="subjectOf" type="REDS_HD020001UV01.Subject2" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="referencedBy" type="REDS_HD020001UV01.Reference" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassSupply" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodRequest" use="required"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001UV01.Support">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="orderDocumentExternalReference"
                     type="REDS_HD020001UV01.OrderDocumentExternalReference"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasSupport" use="required"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001UV01.Support2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="orderItemExternalReference"
                     type="REDS_HD020001UV01.OrderItemExternalReference"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasSupport" use="required"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001UV01.TargetCompletion">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="value" type="TS" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassObservation" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodGoal" use="required"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001UV01.Trigger">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="selectionStatus" type="REDS_HD020001UV01.SelectionStatus" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasTrigger" use="required"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001UV01.UseCase">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="Code" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
   </xs:complexType>
</xs:schema>