wsdl/HCC.SVR.Prod.BS.HIPMessageServer.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="urn:hl7-org:v3" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" targetNamespace="urn:hl7-org:v3">
    <types>
        <s:schema elementFormDefault="qualified" targetNamespace="urn:hl7-org:v3">
            <s:element name="HIPMessageServer">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" name="action" type="s:string"/>
                        <s:element minOccurs="0" name="message" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="HIPMessageServerResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element name="HIPMessageServerResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
        </s:schema>
    </types>
    <message name="HIPMessageServerSoapIn">
        <part name="parameters" element="s0:HIPMessageServer"/>
    </message>
    <message name="HIPMessageServerSoapOut">
        <part name="parameters" element="s0:HIPMessageServerResponse"/>
    </message>
    <portType name="JiaoHuServiceSoap">
        <operation name="HIPMessageServer">
            <input message="s0:HIPMessageServerSoapIn"/>
            <output message="s0:HIPMessageServerSoapOut"/>
        </operation>
    </portType>
    <binding name="JiaoHuServiceSoap" type="s0:JiaoHuServiceSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="HIPMessageServer">
            <soap:operation soapAction="urn:hl7-org:v3/HCC.SVR.Prod.BS.HIPMessageServer.HIPMessageServer" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="JiaoHuService">
        <port name="JiaoHuServiceSoap" binding="s0:JiaoHuServiceSoap">
            <soap:address location="http://172.19.86.19:52773/csp/healthshare/hcc/HCC.SVR.Prod.BS.HIPMessageServer.cls"/>
        </port>
    </service>
</definitions>