CDACoreSchemas/sdschemas/PCHIS.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<pchis:schema xmlns:mif="urn:hl7-org:v3/mif" xmlns="urn:hl7-org:v3" xmlns:pchis="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified">
	<!--
*****************************************************************************************************************
* This is the extensive schema for the China health service business.
* Generated by XMLITS version 2.0
* Copyright (c) 2012.07 All rights reserved.

********************************************************************************************************************
	  -->
	<pchis:annotation>
		<pchis:documentation>Generated using schema builder version 2.0. Stylesheets:
 version: 1.0
		</pchis:documentation>
	</pchis:annotation>
	<pchis:include schemaLocation="../coreschemas/datatypes.xsd"/>
	<pchis:include schemaLocation="../coreschemas/voc.xsd"/>
	<pchis:include schemaLocation="../coreschemas/NarrativeBlock.xsd"/>
	<pchis:include schemaLocation="POCD_MT000040.xsd"/>
	<!--患者类别-->
	<pchis:complexType name="PCHIS.Patienttype">
		<pchis:sequence>
			<pchis:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<pchis:element name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<pchis:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<pchis:element name="patienttypeCode" type="CE"/>
		</pchis:sequence>
		<pchis:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<pchis:attribute name="classCode" type="RoleClass" use="optional" fixed="PATT"/>
	</pchis:complexType>
	<!--职业-->
	<pchis:complexType name="PCHIS.Occupation">
		<pchis:sequence>
			<pchis:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<pchis:element name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<pchis:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<pchis:element name="occupationCode" type="CE"/>
		</pchis:sequence>
		<pchis:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<pchis:attribute name="classCode" type="RoleClass" use="optional" fixed="OCCU"/>
	</pchis:complexType>
	<!--文化程度-->
	<pchis:complexType name="PCHIS.Educationlevel">
		<pchis:sequence>
			<pchis:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<pchis:element name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<pchis:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<pchis:element name="educationLevelCode" type="CE"/>
			<!--pchis:element name="ethnicGroupCode" type="CE" minOccurs="0"/-->
		</pchis:sequence>
		<pchis:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<pchis:attribute name="classCode" type="RoleClass" use="optional" fixed="EDU"/>
	</pchis:complexType>
	<!--户口信息-->
	<pchis:complexType name="PCHIS.Householdregistrationplace">
		<pchis:sequence>
			<pchis:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<pchis:element name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<pchis:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<pchis:element name="place" type="POCD_MT000040.Place" minOccurs="0" maxOccurs="unbounded"/>
			<!--pchis:element name="addr" type="AD" minOccurs="0"/-->
			<!--常住类型-->
			<pchis:element name="houseType" type="BL" minOccurs="0" maxOccurs="unbounded"/>
		</pchis:sequence>
		<pchis:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<pchis:attribute name="classCode" type="RoleClass" use="optional" fixed="HOUSEPL"/>
	</pchis:complexType>
	<!--籍贯信息 -->
	<pchis:complexType name="PCHIS.Nativeplace">
		<pchis:sequence>
			<pchis:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<pchis:element name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<pchis:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<pchis:element name="place" type="POCD_MT000040.Place"/>
			<!--pchis:element name="place" type="POCD_MT000040.Place" maxOccurs="unbounded"/-->
		</pchis:sequence>
		<pchis:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<pchis:attribute name="classCode" type="RoleClass" use="optional" fixed="NATIVEPL"/>
	</pchis:complexType>
	<!--工作单位-->
	<pchis:complexType name="PCHIS.Employerorganization">
		<pchis:sequence>
			<pchis:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<pchis:element name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<pchis:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<pchis:element name="name" type="ON"/>
			<pchis:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
			<pchis:element name="addr" type="AD" minOccurs="0"/>
			<!--pchis:element name="ethnicGroupCode" type="CE" minOccurs="0"/-->
		</pchis:sequence>
		<pchis:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<pchis:attribute name="classCode" type="RoleClass" use="optional"/>
		<pchis:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
	</pchis:complexType>
	<!-- 专业技术职务类别 -->
	<pchis:complexType name="PCHIS.Professionaltechnicalposition">
		<pchis:sequence>
			<pchis:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<pchis:element name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<pchis:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<pchis:element name="professionaltechnicalpositionCode" type="CE"/>
		</pchis:sequence>
		<pchis:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<pchis:attribute name="classCode" type="RoleClass" use="optional" fixed="PATT"/>
	</pchis:complexType>
</pchis:schema>
